{% extends "base.html" %}

{% block title %}Pricing{% endblock %}

{% block content %}
<body class="text-page">
    <h1 class="text">Pricing</h1>
    <div class="pricing price-grid">
        <div class="price-card">
            <h2 class="price-title">Free</h2>
            <p class="price-amount">$0 / month</p>
            <ul class="price-features">
                <li>Basic Features</li>
                <li>Limited Usage</li>
                <li>Email Support</li>
            </ul>
            <div class="price-button">
                <a href="#" class="primary">Get Started</a>
            </div>
        </div>
        <div class="price-card best-offer">
            <h2 class="price-title">Premium</h2>
            <p class="price-amount">$20 / month</p>
            <ul class="price-features">
                <li>Premium Features</li>
                <li>Unlimited Usage</li>
                <li>Priority Support</li>
            </ul>
            <div class="price-button">
                <a href="#" class="primary">Get Started</a>
            </div>
        </div>
        <div class="price-card">
            <h2 class="price-title">Ultimate</h2>
            <p class="price-amount">$35 / month</p>
            <ul class="price-features">
                <li>Agent Mode & video generation</li>
                <li>Unlimited Usage</li>
                <li>Real Time in web support</li>
            </ul>
            <div class="price-button">
                <a href="#" class="primary">Get Started</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
